<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>Update</title>
</head>

<body>
    <ul>
        <li><a  href="#home">Home</a></li>
        <li><a class="active" href="#news">Update</a></li>
        <li><a href="#contact">Contact</a></li>
        <li><a href="#about">About</a></li>
    </ul>
    <form action="/user/edit/update/<%=user.id %>" method="POST">
        <h2>Update User</h2>

        <input type="text" value="<%=user.name %>" name="username" placeholder="Username">
        <input type="text" value="<%=user.email %>" name="email" placeholder="Email">
        <input type="text" value="<%=user.city %>" name="city" placeholder="City">
        <button type="submit">Submit</button>
    </form>
    
</body>

</html>